#window {
  background-color: #1c1c1c;
  color: #d5c4a1;
  border: none;
}

#input {
  background-color: #1c1c1c;
  color: #d5c4a1;
  border: none;
}

#inner-box {
  border: none;
}

#entry:selected {
  background-color: #83a598;
  border-radius: 3px;
  border: none;
}
