[submodule "extra/zsh_custom/themes/powerlevel10k"]
    path = extra/zsh_custom/themes/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k.git
[submodule "extra/zsh_custom/plugins/zsh-syntax-highlighting"]
    path = extra/zsh_custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "extra/zsh_custom/plugins/zsh-autosuggestions"]
    path = extra/zsh_custom/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "extra/gruvbox-gtk"]
    path = extra/gruvbox-gtk
    url = https://github.com/3ximus/gruvbox-gtk.git
[submodule "config/.config/ranger/plugins/ranger_devicons"]
    path = config/.config/ranger/plugins/ranger_devicons
    url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "extra/bin/scripts"]
    path = extra/bin/scripts
    url = https://github.com/oliverwiegers/scripts
[submodule "extra/zsh_custom/plugins/zsh-vi-mode"]
    path = extra/zsh_custom/plugins/zsh-vi-mode
    url = https://github.com/jeffreytse/zsh-vi-mode
