config/.config/autostart
config/.config/dconf
config/.config/gconf
config/.config/gopass
config/.config/gtk-2.0
config/.config/gtk-3.0
config/.config/glib-2.0
config/.config/htop
config/.config/inkscape
config/.config/mimeapps.list
config/.config/pavucontrol.ini
config/.config/pulse
config/.config/Rambox
config/.config/spotify
config/.config/kactivitymanagerdrc
config/.config/kglobalshortcutsrc
config/.config/libre*
config/.config/plasma*
config/.config/lxc
config/.config/kritadisplayrc
config/.config/kritarc
config/.config/qt5ct/
config/.config/wpg/
config/.config/ranger/bookmarks
config/.config/ranger/history
config/.config/ranger/tagged
config/.config/neofetch
config/.config/newsboat/cache*
config/.config/newsboat/history*
config/.config/keybase
config/.config/Qt*
config/.config/VirtualBox
config/.config/wtf/
config/.config/Trolltech.conf
config/.config/clipped/
config/.config/coc/
config/.config/configstore/
config/.config/Dharkael/
config/.config/ranger/plugins/
