*__init__.py*
*__pycache__* *.swp*
config/.config/obsidian
config/.config/autostart
config/.config/dconf
config/.config/gconf
config/.config/gopass
config/.config/gtk-2.0
config/.config/glib-2.0
config/.config/htop
config/.config/inkscape
config/.config/mimeapps.list
config/.config/pavucontrol.ini
config/.config/pulse
config/.config/Rambox
config/.config/spotify
config/.config/kactivitymanagerdrc
config/.config/kglobalshortcutsrc
config/.config/libre*
config/.config/plasma*
config/.config/lxc
config/.config/kritadisplayrc
config/.config/kritarc
config/.config/qt5ct/
config/.config/wpg/
config/.config/ranger/bookmarks
config/.config/ranger/history
config/.config/ranger/tagged
config/.config/ranger/plugins/
config/.config/neofetch
config/.config/newsboat/cache*
config/.config/newsboat/history*
config/.config/keybase
config/.config/Qt*
config/.config/VirtualBox
config/.config/wtf/
config/.config/Trolltech.conf
config/.config/clipped/
config/.config/coc/
config/.config/configstore/
config/.config/Dharkael/
config/.config/asciinema/
config/.config/chromium/
config/.config/helm/
config/.config/amass/
config/.config/bashtop/
config/.config/bpytop/
config/.config/discord/
config/.config/helm/
config/.config/helm/
config/.config/flameshot/
config/.config/Signal/
config/.config/menus/
config/.config/torbrowser/
config/.config/vlc/
*sec.conf*
config/.config/Mumble/
config/.config/evolution/
config/.config/gtk-3.0/bookmarks
config/.config/ibus/
config/.config/midori/
config/.config/user-dirs.dirs
config/.config/user-dirs.locale
config/.config/libvirt/qemu
config/.config/libvirt/storage
config/.config/argocd/
config/.config/cef_user_data/
config/.config/cni/
config/.config/krdcrc
config/.config/nyxt/
config/.config/simple-scan/
config/.config/virt-viewer/
config/.config/weechat/
config/.config/zoom.conf
config/.config/zoomus.conf
