config/.config/autostart
config/.config/dconf
config/.config/gconf
config/.config/gopass
config/.config/gtk-2.0
config/.config/gtk-3.0
config/.config/htop
config/.config/inkscape
config/.config/mimeapps.list
config/.config/pavucontrol.ini
config/.config/pulse
config/.config/Rambox
config/.config/spotify
