[submodule "config/.config/polybar-scripts"]
	path = config/.config/polybar-scripts
	url = https://github.com/polybar/polybar-scripts.git
[submodule "config/.config/ranger/plugins/ranger_devicons"]
	path = config/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "gruvbox-gtk"]
	path = gruvbox-gtk
	url = https://github.com/bennetthardwick/gruvbox-gtk
[submodule "config/.config/polybar-crypto"]
	path = config/.config/polybar-crypto
	url = https://github.com/willHol/polybar-crypto.git
[submodule "config/.config/polybar/polybar-crypto"]
	path = config/.config/polybar/polybar-crypto
	url = https://github.com/willHol/polybar-crypto.git
